PWC_DATA_DIR=data
OLLAMA_BASE_URL=http://127.0.0.1:11434
CHROMA_MODE=persistent
CHROMA_HOST=127.0.0.1
CHROMA_PORT=8000
PWC_CHUNK_SIZE_TOKENS=300
PWC_CHUNK_OVERLAP_TOKENS=50
# In Docker, use OLLAMA_BASE_URL=http://host.docker.internal:11434
